development:
  host: 127.0.0.1
  http_port: 8098
  pb_port: 8087
  namespace: dev_ns~
  protocol: pbc

test:
  host: 127.0.0.1
  http_port: 9000
  pb_port: 9001
  handoff_port: 9002
  namespace: test_ns~
  protocol: pbc

  # Test Only Options

  # Enable to point tests to a remote server
  # May encounter issues with tests that rely on cleanup
  # Be sure to update the http / pb ports
  #skip_testserver: true

  # Enable to prevent the test helper from deleting all
  # the data when the test run is complete.
  #retain_test_server: true
