development:
  host: 127.0.0.1
  http_port: 8098
  namespace: dev_ns~
  protocol: pbc

test:
  host: 127.0.0.1
  http_port: 9000
  pb_port: 9001
  handoff_port: 9002
  namespace: test_ns~
  protocol: pbc
  #retain_test_server: true
